body {
	margin:0;
}


header {
	margin: 0 0 0 0 ;

	height:3cm;
	border-bottom:1px solid;
	
	position:fixed;
	top:0px;
	
	width:100%;
	min-width: 25cm;
}

#content {

	margin-top:3cm;

}

nav {
	margin:auto;
	width:7cm;
}

iframe {
	display:block;
	

	margin:auto;
	
	width:638px;
	height:412px;
}

/* ----------- */

#coming-box {
	position: relative;
	right: 1cm;
	top: -1.5cm;
}

.coming{
	width:3.5cm;
	float:right;
	
	margin-left:1cm;
}