
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}



/* ------------------------------------ */
/* ------------------------------------ */


body {
    background-color: #ffe9f7;
}

header {
    width: 1100px;
    margin: auto;
}

#application {
    width: 210px;
    margin: 30px auto auto;
    display: table;
}

#application figure {
    display: table-cell;
}

#application figure img {
	width: 120px;
}

#application figure:nth-child(2) {
    vertical-align: middle;
}

h2 {
    text-align: center;
    margin: 40px 0 18px 0;
	font-size: 35px;
	font-family: "Cooper";
	color: #a8829b;
}

#content {
	text-align: center;
}

strong {
	display: block;
	margin: 40px auto auto;
	color: #a8829b;
	font-size: 26px;
}

/* ------------------------------------ */
/* ------------------------------------ */

nav {
    text-align: center;
    margin: 40px auto auto;
}

nav ul {
    font-size: 0;
}

nav ul li {
    background-color: #fff;
    display: inline-block;
    letter-spacing: 0;
    padding: 8px 15px;
    color: #b17d9f;
    font-size: 24px;
}

nav ul li a {
    color: #b17d9f;
	text-decoration: none;
}

nav ul li:hover {
    background-color: #fcd5f0;
	color: #fff;
	text-decoration: none;
}

nav ul li.active {
    background-color: #dc1e97;
}

nav ul li.active a {
    background-color: #dc1e97;
    color: #fff;
	text-decoration: none;
}

/* ------------------------------------ */
/* ------------------------------------ */

#score-box {
    margin: auto;
    width: 450px;
    text-align: center;
}

#score-box table {
	width: 450px;
	margin: auto;
	font-size: 20px;
}

#table_score th {
    font-size: 25px;
    width: 150px;
	margin: 0 0 20px 0;
	padding: 20px 0;
	color : #dc1e97;
}

#table_score tr {
	color: #a8829b;
}


#table_score tr:nth-child(2n) {
	background-color: #f7e1f0;
}

#table_score tr:hover {
	color: #fff;
	background-color: #dc1e97;
}

#table_score th {
	background-color: #ffe9f7;
}

#table_score td {
	padding: 10px;
}

#previous {
	float: left;
	margin: 10px 0 25px 0;
}

#next {
	float: right;
	margin: 10px 0 25px 0;

}

#previous, #next {
	background-color: #a8829b;
	padding: 6px 10px;
	margin-top: 20px;
	width: 100px;
	color: #fff;
	font-family: "Cooper";
}

#previous:hover, #next:hover {
	background-color: #dc1e97;
}

/* ------------------------------------ */
/* ------------------------------------ */

.about {
	width: 450px;
	margin: auto auto 60px auto;
	font-size: 20px;
	line-height: 25px;
	color: #a8829b;
	text-align: left;
}



/* JULIEN */

/* ----------- */

#coming-box {
	position: relative;
	right: 1cm;
	top: -1.5cm;
}

.coming{
	width:3.5cm;
	float:right;
	
	margin-left:1cm;
}

iframe {
	display:block;
	margin: 40px auto 80px auto;
	width:638px;
	height:412px;
}